/* this file is processed with xxd via a build rule and embedded in library */

/* these styles come from Safari */

/* note that comments are only permitted before selectors and before the styles */

/* DO NOT fiddle with this file if you want to have your own styles, 
   pass your own stylesheet via the option parameter to override these defaults */

html
{
	/* bla */
	display:block;
}

head
{
	display:none;
}

title
{
	display:none;
}

style
{
	display:none;
}

body 
{
	/* safari has a 8 px margin here */
	display:block;
	font-size: 13px;
}

article,aside,footer,header,hgroup,nav,section
{
	display:block;
}

p
{
	display:block;
	-webkit-margin-start:0;
	-webkit-margin-end:0;
}

ul,menu,dir
{
	display:block;
	list-style-type:disc;
	-webkit-margin-start:0;
	-webkit-margin-end:0;
	-webkit-padding-start:25px;
}

li
{
	display:list-item;
}

ol
{
	display:block;
	list-style-type:decimal;
	-webkit-margin-start:0;
	-webkit-margin-end:0;
	-webkit-padding-start:27px;
}

ul ul, ol ul 
{
	list-style-type: circle;
}

ol ol ul, ol ul ul, ul ol ul, ul ul ul 
{
	list-style-type: square;
}

pre, xmp, plaintext, listing 
{
	display: block;
	white-space: pre;
}

/* color:-webkit-link */
a
{
	color:#0000EE; 
}

a:active {color:#38ADFF;}  /* link while finger down */

center
{
	text-align:center;
	display:block;
}

strong,b
{
	font-weight:bolder;
}

big
{
	font-size:bigger;
}

small
{
	font-size:smaller;
}

sub
{
	font-size:smaller;
	vertical-align:sub;
}

sup
{
	font-size:smaller;
	vertical-align:super;
}

s,strike,del
{
	text-decoration:line-through;
}

pre,xmp,plaintext,listing
{
	display:block;
	white-space:pre;
}

h1
{
	display:block;
	font-size:2em;
	-webkit-margin-start:0;
	-webkit-margin-end:0;
	font-weight:bold;
}

h2
{
	display:block;
	font-size:1.5em;
	-webkit-margin-start:0;
	-webkit-margin-end:0;
	font-weight:bold;
}

h3
{
	display:block;
	font-size:1.17em;
	-webkit-margin-start:0;
	-webkit-margin-end:0;
	font-weight:bold;
}

h4
{
	display:block;
	-webkit-margin-start:0;
	-webkit-margin-end:0;
	font-weight:bold;
}

h5
{
	display:block;
	font-size:.83em;
	-webkit-margin-start:0;
	-webkit-margin-end:0;
	font-weight:bold;
}

h6
{
	display:block;
	font-size:.67em;
	-webkit-margin-start:0;
	-webkit-margin-end:0;
	font-weight:bold;
}

hr {
	display: block;
	-webkit-margin-start: auto;
	-webkit-margin-end: auto;
	border-style: inset;
}

table {
   display: table;
   border-collapse: separate;
   border-spacing: 2px;
   border-color: gray;
}

blockquote {
	border-left-style: solid;
	border-left-width: 4px;
	border-left-color: #E4E4E4;
}

code, tt {
	white-space: nowrap;
	background-color: #f8f8f8;
}

pre code {
	white-space: pre;
	background: transparent;
}

pre {
	background-color: #f8f8f8;
	font-size: 14px;
}
